* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik Wet Paint", serif;
  font-weight: 400;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
}


body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(1, 5, 47, 0.95), 20%, rgb(25, 1, 110));
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  display: none;
}

.main {
  width: 1400px;
  max-width: 95%;
  margin: 0 auto;
}

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(rgba(1, 5, 47, 0.95), 20%, rgb(25, 1, 110));
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.hero header .logo h2 a {
  display: block;
  font-size: 32px;
  font-weight: 600;
  text-decoration: none;
  color: aliceblue;
  font-family: "Rubik Wet Paint", serif;
  font-weight: 400;
  font-style: normal;
}

.hero header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px 30px;
}
.content {
  padding-top: 110px;
}

.content .main-text {
  position: relative;
  z-index: 2;
}

.content .main-text h1 {
  font-size: 100px;
  color: aliceblue;
  line-height: 1;
  margin: 0px 0px 35px;
  font-family: "Rubik Wet Paint", serif;
  font-weight: 400;
  font-style: normal;
}

.content .main-text h3 {
  font-size: 18px;
  font-weight: 600;
  color: aliceblue;
}

.content .main-text p {
  font-size: 15px;
  color: aliceblue;
  max-width: 100%;
  line-height: 1.8;
  width: 480px;
  margin-bottom: 50px;

}

.content .main-text a {
  display: inline-block;
  text-decoration: none;
  color: black;
  background: #ffffff;
  border: 1px solid white;
  padding: 9px 25px;
  line-height: 1.4;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
}

.content .main-text a:hover {
  transform: scale(1.2);
  border: 2px solid #ffffff;
  background: transparent;
  transition: .4s;
  color: aliceblue;
}

.content .main-text a.cta {
  border: 2px solid #ffffff;
  color: #ffffff;
  background: transparent;
  margin-left: 25px;
}

.content .main-text a.cta:hover {
  color: black;
  background: #ffffff;
  border: 1px solid white;
  transition: .4s;
}

.image {
  margin-top: 2rem;
  position: absolute;
  width: 100%;
  height: 85%;
  bottom: 0;
  right: 0;
  text-align: right;
}

.image img {
  height: 100%;
  width: 70%;
  margin-left: 34%;
}

@media only screen  and (max-width:500px){

    body{
      transform: rotate(90deg);
      width:100%;
    }

    .content .main-text h1{
      font-size: 50px;
    }

    .content .main-text p{
      font-size: 14px;
    }

    .image img{
      width: 77%;
      height: 80%;

    }
  .main{
    width:100%;
  }

}



